# Configs
config.toml

# Rust & Cargo
## Target/Build output
target/

## Cargo lock
Cargo.lock

# Any backup files (rustfmt)
**/*.rs.bk

# IDEs & Editors
## VSCode
.vscode/
!.vscode/tasks.json

## IDEA
.idea/
